@font-face {
    font-family: Roboto Condensed Light;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}
html {
    background-color: #f0f0f0;
}
body {
    font-family: 'Roboto Condensed Light';
}
h1{
    background-color: #c2185b;
    padding: 20px 20px;
    color: whitesmoke
    
}
img {
    border-radius: 50%
}

#footer {
    background-color: #c2185b;
    padding: 10px 0px;
    color: whitesmoke
}
a:hover {
    color: #c2185b;
}
span {
    color: #c2185b;
    font-weight: bold;
}